<script type="text/javascript" src="http://www.chartjs.org/assets/Chart.js">
</script>

<script type="text/javascript" src="jquery.js">
</script>
<head>
</head>
<body>
    <h3>Pie Chart of Community Nodes</h3>
    <canvas id="pie" width="600" height="400"></canvas>
</body>

<script src="pie.js"></script>